body {
    padding-top: 40px;
    font-family: "Times New Roman", Times, serif;
}

.container {
    background-color: #FFE1F0;
    font-size: 20px;
    margin-left: 200px;
    margin-top: 1px;
    padding: 25px;
    width: auto;
    height: auto;
}

h1 {
  color: #2b505d;
  }

a {
    color: black;
    text-decoration: none;
}

.lead{
    font-size: 7px;
    color:gray;
}

.vid{
    width: auto;
    background-color: #FFC0CB;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 420px;
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 1px;
    height: 120px;
    text-align: left;
}

.display-4{
    font-size: 24px;

}

.watvid{
    font-size: 14px;
    text-align: right;
}

.lead1{
    text-align: left;
    font-size: 12px;
    font-family: "Times New Roman", Times, serif;
}

.inpg{
    align-content: center;
    padding-left: 20px;
    margin-top: 65px;
}

.cardp > p{
    font-size: 1px;
    font-family: "Times New Roman", Times, serif;
    padding-bottom: 10px;
}

.card-text{
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
}

.card{
    background-color: #ffc3e1;
    padding-left: 10px;
}
#main-footer{
    background-color: #cc99cc;
}