{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}
    <hr />
<h1>Welcome to the Morgans Video Site</h1>
    <hr />

{% for video in most_recent_videos %}

<div class="vid">
        <div class="container1">
          <h1 class="display-4">{{ video.title }}</h1>
          <p class="lead">{{ video.description }}</p>

          <p class="lead1">Uploaded by {{ video.user }} on {{ video.datetime }} </p>
          <p><a href='/video/{{ video.id }}'>Watch Video</a></p>
        </div>
</div>
{% endfor %}


{% endblock %}

